@use '/src/style/mixin.scss' as var;

.container {
    width: 1240px;
    max-width: 100%;
    padding: 10px 20px;
    margin: 0 auto;
    .headerbody {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left,
        .right {
            display: flex;
            align-items: center;
        }
        .logo {
            width: 210px;
            @include var.breakpoint(sm) {
                width: 180px;
            };
            @include var.breakpoint(xs) {
                width: 130px;
            };
        }
    }
}