@use '/src/style/mixin.scss' as var;

img {
    width: 100%;
}
.banner {
    > div {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        @include var.breakpoint(md) {
            grid-template-columns: repeat(1,1fr);
        }
        .sloganBox {
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            @include var.breakpoint(md) {
                margin-top: 20px;
            }
            .sloganContainer {
                img {
                    position: absolute;
                    object-fit: cover;
                    right: 20%;
                    top: 15%;
                    width: 25%;
                    height: 25%;
                }
                h1 {
                    font-size: 50px;
                    font-weight: bold;
                    position: relative;
                    @include var.breakpoint(lg) {
                        font-size: 36px;
                    }
                    @include var.breakpoint(md) {
                        font-size: 46px;
                    }
                    @include var.breakpoint(sm) {
                        font-size: 30px;
                    }
                }
                h1:nth-of-type(3) {
                    color: var.$colorGlobal;
                    font-size: 65px;
                    margin-bottom: 24px;
                    display: inline-block;
                    overflow: hidden;
                    animation: aniText 5s steps(10) infinite;
                    @include var.breakpoint(sm) {
                        font-size: 40px;
                    }
                    span {
                        font-size: 50px;
                        @include var.breakpoint(sm) {
                            font-size: 30px;
                        }
                    }
                }
            }
            @mixin smallBox ($color) {
                position: absolute;
                background-image: radial-gradient($color 10%,transparent 11%),radial-gradient($color 10%,transparent 11%);
                background-size: 10px 10px;
                height: 10%;
                width: 10%;
            }
            .triangleLeftRight {
                transform: rotate(-45deg);
                position: absolute;
                top: 5%;
                left: 10%;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 50px solid var.$colorSecondary1;
            }
            .smallboxLeftTop {
                @include smallBox(var.$colorGlobal);
                top: 10%;
                left: 10%;
                height: 70px;
                width: 20%;
            }
            .smallboxRightTop {
                @include smallBox(var.$colorSecondary1);
                top: 5%;
                right: 0;
                transform: rotate(45deg);
            }
            .smallboxRightBottom {
                @include smallBox(var.$colorSecondary1);
                bottom: 10%;
                left: 70%;
                width: 20%;
            }
        }
    }
}

@keyframes aniText {
    0% {
        width: 0;
    }
    50% {
        width: 250px;
    }
}


