$--colorGlobal: #41b294;
$--colorSecondary1: #f6ba35;
$--colorText: #252525;
img {
    width: 100%;
}
.banner {
    > div {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        .sloganBox {
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            .sloganContainer {
                img {
                    position: absolute;
                    object-fit: cover;
                    right: 20%;
                    top: 15%;
                    width: 25%;
                    height: 25%;
                }
                h1 {
                    font-size: 50px;
                    font-weight: bold;
                    position: relative;
                }
                h1:nth-of-type(3) {
                    color: $--colorGlobal;
                    font-size: 65px;
                    margin-bottom: 24px;
                    display: inline-block;
                    overflow: hidden;
                    animation: aniText 5s steps(10) infinite;
                    span {
                        font-size: 50px;
                    }
                }
            }
            @mixin smallBox ($color) {
                position: absolute;
                background-image: radial-gradient($color 10%,transparent 11%),radial-gradient($color 10%,transparent 11%);
                background-size: 10px 10px;
                height: 10%;
                width: 10%;
            }
            .triangleLeftRight {
                transform: rotate(-45deg);
                position: absolute;
                top: 5%;
                left: 10%;
                width: 0;
                height: 0;
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 50px solid $--colorSecondary1;
            }
            .smallboxLeftTop {
                @include smallBox($--colorGlobal);
                top: 10%;
                left: 10%;
                height: 70px;
                width: 20%;
            }
            .smallboxRightTop {
                @include smallBox($--colorSecondary1);
                top: 5%;
                right: 0;
                transform: rotate(45deg);
            }
            .smallboxRightBottom {
                @include smallBox($--colorSecondary1);
                bottom: 10%;
                left: 70%;
                width: 20%;
            }
        }
    }
}

@keyframes aniText {
    0% {
        width: 0;
    }
    50% {
        width: 250px;
    }
}
@media all and ( max-width: 1023px) {
    .banner > div {
        .sloganBox {
            .sloganContainer {
                h1 {
                    font-size: 36px;
                }
            }
        }
    }
}
@media all and ( max-width: 768px) {
    .banner > div {
        grid-template-columns: repeat(1,1fr);
        .sloganBox {
            margin-top: 20px;
            .sloganContainer {
                h1 {
                    font-size: 46px;
                }
            }
        }
    }
}
@media all and ( max-width: 640px) {
    .banner > div {
        .sloganBox {
            .sloganContainer {
                h1 {
                    font-size: 30px;
                }
                h1:nth-of-type(3) {
                    font-size: 40px;
                    span {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

