@use '/src/style/mixin.scss' as var;

.searchPage {
    .searchContainer {
        padding: 30px 0;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 30px;
        .item {
            &:nth-child(1) {
                @include var.breakpoint(md) {
                    display: none;
                }
            }
            &:nth-child(2) {
                grid-column: 2/6;
                @include var.breakpoint(md) {
                    grid-column: 1/6;
                }
            }
        }
    }
}