@use '/src/style/mixin.scss' as var;

.headerAvatar {
    position: relative;
    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        z-index: 5;
        cursor: pointer;
        position: relative;
    }
    .logout {
        position: absolute;
        left: 40%;
        top: 50%;
        cursor: pointer;
        transform: translateY(-50%);
        transition: all .5s;
        svg {
            font-size: 25px;
            color: var.$colorSecondary1;
        }
    }
    .iconShowMenu {
        display: none;
    }
    &:hover .logout {
        left: 110%;
    }
}
