@use '/src/style/mixin.scss' as var;

header {
    z-index: 100;
    position: relative;
    background-color: #fff;
    transition: all .3s;
    position: fixed;
    width: 100%;
    z-index: 100;
    .mobile {
        display: none;
        @include var.breakpoint(lg) {
            display: block;
        }
    }
    .desktop {
        @include var.breakpoint(lg) {
            display: none;
        }
    }
}
header.headerFixed {
    box-shadow: 0 2px 24px 0 rgba(0,0,0,.15);
}
