@use '/src/style/mixin.scss' as var;

.detailCourse {
    .content {
        display: flex;
        padding: 50px 0;
        margin: 0 -15px;
        @include var.breakpoint(md) {
            flex-direction: column-reverse;
        }
        .left {
            width: 70%;
            padding: 0 15px;
            @include var.breakpoint(lg) {
                width: 60%;
            }
            @include var.breakpoint(md) {
                width: 100%;
                margin-top: 30px;
            }
        }
        .right {
            width: 30%;
            padding: 0 15px;
            @include var.breakpoint(lg) {
                width: 40%;
            }
            @include var.breakpoint(md) {
                width: 100%;
            }
        }
    }
}

