@use '/src/style/mixin.scss' as var;

.titlePage {
    padding: 50px 0;
    text-transform: uppercase;
    background-color: #ffd60a;
    color: #fff;
    h3 {
        font-size: 32px;
        @include var.breakpoint(md) {
            font-size: 26px;
        }
    }
    p {
        font-size: 18px;
        @include var.breakpoint(md) {
            font-size: 14px;
        }
    }
}