* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #252525;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.container {
  width: 1240px;
  max-width: 90%;
  padding: 0 20px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #252525;
}
@media all and ( max-width: 1023px) {
  .container {
    max-width: 100%;
  }
}
