@use '/src/style/mixin.scss' as var;

.btnStyle {
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    transition: all .5s;
    background-color: var.$colorSecondary1;
    cursor: pointer;
    border: none;
    &:hover {
        transform: scale(.95);
    }
}