@use '/src/style/mixin.scss' as var;

.notFoundPage {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-10%);
    h1 {
        color: #ed85ab;
        font-size: 80px;
        font-family: cursive;
        transform: translateY(100%);
        @include var.breakpoint(md) {
            font-size: 40px;
            transform: translateY(50%);
        }
    }
    img {
        width: 50%;
        @include var.breakpoint(md) {
            width: 70%;
        }
    }
    .btnHome {
        transform: translateY(-200%);
        @include var.breakpoint(md) {
            transform: translateY(-100%);
        }
    }
}